<div id="<%= dom_id vocabulary %>">
  <p>
    <strong>Kanji:</strong>
    <%= vocabulary.kanji %>
  </p>

  <p>
    <strong>Hiragana:</strong>
    <%= vocabulary.hiragana %>
  </p>

  <p>
    <strong>Romaji:</strong>
    <%= vocabulary.romaji %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= vocabulary.definition %>
  </p>

  <p>
    <strong>Part of speech:</strong>
    <%= vocabulary.part_of_speech %>
  </p>

</div>
